/* Header */
.link-nodecor {
  text-decoration: none!important;
  color: black;
}
.singlePost {
  margin-top: 15px;
  padding-top: 10px;
  background-color: #f1f1f1;
}

.singleReply {
  margin-top: 15px;
  padding-top: 10px;
  padding-bottom: 2px;
  background-color: #f8f9fa;
}

.postRowAntiMargin {
  margin-left: 0px!important;
  margin-right: 0px!important;
  padding-bottom: 25px;
}

.postText {
  margin-left: 10px;
}

/* Posting form */
.inputTitle {
  margin-bottom: 5px;
}

.inputFile {
  margin-bottom: 5px;
}